.form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 8px;
  width: 70%;
  height: 40%; 
   
}
.form-label{
    align-self: center;
}
.form-input{
    
}
.form-button__add{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.form-button__clear{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
.form-userName{
  padding: 20px;
  text-align: center;
  font-size: 16px;
}