.update{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 8px;
    width: 60%;
    height: 40%;   
}
.update-button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}